<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <rabbit:connection-factory id="connectionFactory" host="192.168.99.100" port="32771"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:queue name="append.in"/>
    <rabbit:queue name="append.out"/>

    <rabbit:topic-exchange name="append">
        <rabbit:bindings>
            <rabbit:binding queue="append.in" pattern="append.in"/>
            <rabbit:binding queue="append.out" pattern="append.out"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:template id="appendTemplate" connection-factory="connectionFactory"
                     exchange="append" routing-key="append.out"/>


    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="appendListener" method="onMessage" queue-names="append.in"/>
    </rabbit:listener-container>

    <bean id="appendListener" class="lv.ctco.camelpoc.AppenderListener"/>

</beans>