<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <rabbit:connection-factory id="connectionFactory" host="192.168.99.100" port="32771"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:queue name="truncate.in"/>
    <rabbit:queue name="truncate.out"/>

    <rabbit:topic-exchange name="truncate">
        <rabbit:bindings>
            <rabbit:binding queue="truncate.in" pattern="truncate.in"/>
            <rabbit:binding queue="truncate.out" pattern="truncate.out"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:template id="truncateTemplate" connection-factory="connectionFactory"
                     exchange="truncate" routing-key="truncate.out"/>


    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="truncateListener" method="onMessage" queue-names="truncate.in"/>
    </rabbit:listener-container>

    <bean id="truncateListener" class="lv.ctco.camelpoc.TruncatorListener"/>

</beans>